@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    --tw-bg-opacity: 1;
    background-color: rgb(11 20 36/var(--tw-bg-opacity));
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #fff;
}


.container {
    max-width: 1450px;
    width: 100%;
    padding: 0 2rem;
    margin-left: auto;
    margin-right: auto;
}

.first {
    background: url('../img/header-bg.jpg');
    min-height: 900px;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.menu-wrapper {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
}

.menu-item {
    margin: 2.5em;
}

.menu-item_h {
    height: 35px;
    display: flex;
    align-items: center;
}

.menu-item_h::after {
    content: "";
    background-image: url('../img/menu-more.png');
    background-repeat: no-repeat;
    width: 15px;
    height: 7px;
    display: block;
    margin-left: 10px;
}

.menu-item:last-child {
    position: relative;
}

.submenu {
    position: absolute;
    padding: 29px 0 29px 28px;
    background-color: #1a2030;
    border-radius: 15px;
    left: 0px;
    top: 50px;
    width: 271px;
    text-align: left;
    opacity: 0;
    transition: all 0.2s ease;
    visibility: hidden;
}


.menu li:hover .submenu {
    opacity: 1;
    visibility: visible;
}


.submenu-item {
    margin-bottom: 25px;
}

.submenu-item:last-child {
    margin-bottom: 0;
}

.submenu-item-link {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    transition: all 0.2s ease;
}

.submenu-item-link:hover {
    color: #efc82f;
}

.menu-link {
    font-size: 18px;
    transition: all 0.2s ease;
}

.menu a {
}

.menu-link.active {
    color: #efc82f;
}

.menu-link:hover {
    color: #efc82f;
}

.first-content {
    margin-top: 130px;
}

.first-content-title {
    font-size: 90px;
    font-weight: 700;
    color: #fff;
}

.first-content-text {
    font-size: 30px;
    font-weight: 500;
    margin-top: 40px;
    color: #fff;
    line-height: 2.8rem;
}

.first-content-text span {
    color: #efc82f;
}

.first-content-trustpilot {
    display: flex;
    margin-top: 60px;
    align-items: center;
}

.first-content-stars {
    margin-right: 60px;
}

.first-content-stars img {
    display: block;
    height: 25px;
}

.rating-span {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.rating-text {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}

.first-content-rating {
    padding: 0 50px;
}

.first-content-reviews {
    margin-left: 50px;
}

.reviews-span {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.reviews-text {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}

.first-content-img {
    margin: 0 auto;
    display: block;
    margin-top: 100px;
    cursor: pointer;
}

.first-content-img_link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    max-width: 26rem;
}

.second {
    padding-top: 40px;
    margin-top: 100px;
    padding-bottom: 200px;
    padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.second-title {
    font-size: 38px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 6px;
}

.second-text {
    font-size: 22px;
    font-weight: 300;
    color: #7585a2;
}

.server {
    margin-top: 70px;
}

.server-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    margin-bottom: 28px;
    letter-spacing: 0.05rem;
}

.server-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 955px;
}

.server-card {
    width: 190px;
    height: 90px;
    background: transparent;
    border: 1px solid #253044;
    border-radius: 10px;
    padding: 20px 0 0 25px;
    margin-right: 22px;
    margin-bottom: 22px;
    cursor: pointer;
    transition-duration: .15s;
    position: relative;
    transition-property: border-color;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.server-card_yellow {
    border-color: #efc82f;
}

.server-card::after {
    content: "";
    opacity: 0;
    background-image: url('../img/gal.svg');
    background-position: center;
    background-size: contain;
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    right: -14px;
    top: -14px;
    transition-duration: .15s;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.server-card_yellow::after {
    opacity: 1;
}

.card-name {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

.card-country {
    font-size: 14px;
    font-weight: 300;
    color: #7585a2;
}

.variant {
    width: 849px;
    margin-top: 56px;
}

.variant-first-row {
    justify-content: space-between;
    align-items: end;
}

.variant-title {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    margin-bottom: 6px;
}

.variant-leng-choos {
    width: 98px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    cursor: pointer;
}

.variant-leng-eur {
    color: #7585a2;
}

.variant-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.variant-card {
    width: 261px;
    height: 84px;
    background: transparent;
    border: 1px solid #253044;
    border-radius: 10px;
    padding: 0 14px 0 25px;
    margin-right: 22px;
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition-duration: .15s;
    transition-property: border-color;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.variant-card.disabled {
    cursor: not-allowed;
}

.variant-card_yellow {
    border-color: #efc82f;
}

.variant-card::after {
    content: "";
    opacity: 0;
    background-image: url('../img/gal.svg');
    background-size: contain;
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    right: -14px;
    top: -14px;
    transition-duration: .15s;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.variant-card_yellow::after {
    opacity: 1;
}

.variant-number {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.variant-name {
    font-size: 14px;
    font-weight: 300;
    color: #7585a2;
}

.variant-price {
    font-size: 20px;
    font-weight: 500;
    color: #efc82f;
    margin-left: 49px;
}

.variant-out-of-stock {
    font-size: 12px;
    font-weight: 500;
    color: #cf0000;
    text-align: right;
    line-height: 1rem;
    width: 50px;
}

.variant-price-big {
    font-size: 25px;
}

.second-right-wrapper {
    width: 465px;
    background-color: #121D30;
    border-radius: 20px;
    background-image: url('../img/big-logo1.png');
    background-position-x: -30px;
    background-position-y: -80px;
    background-repeat: no-repeat;
    /* height: 950px; */
    height: auto !important;
}

.second-wrapper {
    display: flex;
    justify-content: space-between;
}

.result-wrapper {
    display: flex;
    padding-top: 35px;
}

.blueessence-logo {
    width: 330px;
    height: 330px;
    margin-top: -25px;
    margin-left: -120px;
    margin-right: -30px;
}

.result-span {
    font-size: 43.5px;
    font-weight: 500;
    color: #fff;
    line-height: 1.09;
}

.result-subtext {
    font-size: 18px;
    font-weight: 300;
    color: #7585a2;
    margin-bottom: 50px;
    margin-top: 5px;
    line-height: 0.9;
}

.result-wrapper-text {
    margin-top: 15px;
    margin-left: 50px;
    width: 238px;
}

.result-text {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    line-height: 1.75rem;
}

.garanty-wrapper {
    display: flex;
    margin-left: 50px;
    margin-top: 40px;
}

.garanty-card {
    text-align: center;
    margin-right: 58px;
}

.garanty-card img {
    width: 65px;
    height: 90px;
    object-fit: contain;
}

.garanty-text {
    width: 80px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

.second-right-wrapper-text {
    font-size: 18px;
    font-weight: 300;
    color: #7585a2;
    margin-left: 50px;
    width: 350px;
    text-align: justify;
    line-height: 1.75rem;
}

.second-right-wrapper-texts {
    margin-top: 40px;
}

input[type="checkbox"] {
    display: none;
}

label {
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    vertical-align: middle;
    font-size: 18px;
    margin-left: 50px;
}

label:before {
    content: " ";
    color: #000;
    display: inline-block;
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 25px;
    height: 25px;
    background: transparent;
    border: 1px solid #efc82f;
    border-image: initial;
    border-radius: 5px;
    vertical-align: middle;
}

input:checked + label:before {
    content: " ";
    background: url('../img/Checkbox-ON.png');
    background-repeat: no-repeat;
    border: 1px solid #efc82f;
    width: 25px;
    height: 25px;
    margin-right: 15px;
    background-position-x: -1px;
    background-color: #efc82f;
}

input:disabled + label:before {
    background: #efc82f;
}

.check-box {
    margin-top: 40px;
}

.btn {
    padding: 21px 150px 21px 150px;
    width: 100%;
    margin-top: 45px;
    font-size: 20px;
    font-weight: 500;
    background-color: #FFCC00;
    display: block;
    border-radius: 0 0 20px 20px;
    color: #111;
    transition: 0.2s ease;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #ebab2e;
}

.big-btn {
    font-size: 25px;
}

.third {
    padding-bottom: 200px;
    padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.third-title {
    font-size: 38px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 6px;
}

.third-text {
    font-size: 22px;
    font-weight: 300;
    color: #7585a2;
}

.third-wrapper {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}

.third-card_f {
    width: 277px;
    margin-right: 66px;
}

.third-card_f img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.third-card_s {
    width: 270px;
    margin-right: 66px;
}

.third-card_s img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.third-card_t {
    width: 281px;
    margin-right: 66px;
}

.third-card_t img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.third-card_fo {
    width: 264px;
}

.third-card_fo img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.third-card-title {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 30px;
}

.third-card-title_mt {
    margin-top: 50px;
}

.third-card-text {
    font-size: 18px;
    font-weight: 300;
    color: #7585a2;
    line-height: 1.75rem;
    width: 270px;
}

/*Проверить {}*/
.third-card-text_f {
    width: 305px;
}

.fourd {
    background-image: url('../img/FAQ.png');
    background-repeat: no-repeat;
    background-position-x: right;
    padding-bottom: 70px;
    padding-left: 1.5rem;
	padding-right: 1.5rem;

}

.item {
    background-color: #121D30;
    margin-bottom: 20px;
    border-radius: 16px;
    width: 930px;
    max-width: 100%;
}

.item__name {
    color: #fff;
    cursor: pointer;
    padding: 28px;
    text-align: left;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    /*min-height: 97px;*/
    position: relative;
    padding-left: 100px;
}

.item__name.open {
    color: #efc82f;
}

.item__name:focus,
.item__name:active,
.item__name:hover {
    background: none;
}

.item__name:before {
    content: '';
    display: block;
    width: 21px;
    height: 2px;
    background: #efc82f;
    color: #efc82f;
    position: absolute;
    left: 39px;
    top: 42px;
}

.item__name:after {
    content: '';
    display: block;
    width: 2px;
    height: 20px;
    background: #efc82f;
    color: #efc82f;
    position: absolute;
    left: 49px;
    top: 33px;
    transition: all 0.4s;
}

.item__name.open:after {
    /*opacity: 0;*/
    transform: rotate(90deg);
}

.item__desc {
    padding-left: 70px;
    padding-bottom: 18px;
    padding-right: 40px;
    font-size: 18px;
    font-weight: 300;
    color: #7585a2;
    display: none;
    line-height: 1.75rem;
}

#messagebox {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.85);
    z-index: 9999;
}

#mbmessage {
    background: #1a2030;
    padding: 35px;
    border-radius: 18px;
    position: fixed;
    left: 50%;
    top: 50%;
    color: #fff;
    width: 300px;
    margin-left: -150px;
    height: 146px;
    margin-top: -73px;
}

#mbmessage .close {
    content: "+";
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    color: #7585a2;
    font-size: 28px;
    font-weight: 400;
    transform: rotate(45deg);
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 10px;
    width: 38px;
    height: 38px;
}

#mbmessage .close:hover {
    color: #fff;
}

#mbmessage p {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.fourd-title {
    font-size: 38px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 6px;
}

.fourd-text {
    font-size: 22px;
    font-weight: 300;
    color: #7585a2;
    margin-bottom: 76px;
}

.fourd-wrapper-texts {
    padding-top: 75px;
}

.five {
    padding-top: 250px;
    padding-bottom: 180px;
    padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.five-title {
    font-size: 38px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 6px;
}

.five-text {
    font-size: 22px;
    font-weight: 300;
    color: #7585a2;
    width: 930px;
    line-height: 3rem;
}

.container-five {
    background-image: url('../img/logo-five.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
}

.five-wrapper-texts {
    margin-bottom: 140px;
}

.five-wrapper {
    display: flex;
    justify-content: space-between;
}

.five-card-title {
    font-size: 60px;
    font-weight: 300;
    color: #efc82f;
}

.five-card-title span {
    font-size: 36px;
}

.five-card-text {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    width: 400px;
    line-height: 1.75rem;
}

.message-cookies {
    width: 210px;
    padding: 12px 10px 12px 18px;
    border-radius: 19px;
    background-color: #1a2030;
    display: flex;
    position: fixed;
    bottom: 43px;
    margin-left: 43px;
}

.message-cookies-text {
    font-size: 14px;
    font-weight: 300;
    color: #7585a2;
    width: 170px;
}

.message-cookies .after {
    content: "+";
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    color: #7585a2;
    font-size: 25px;
    font-weight: 300;
    transform: rotate(45deg);
    cursor: pointer;
    margin-top: -21px;
    margin-left: -12px;
}

.footer {
    padding-bottom: 30px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.footer-line {
    width: 1506px;
    height: 47px;
    border-bottom: 1px solid #2b354d;
    margin: 0 auto;
}

.footer-text {
    font-weight: 300;
    font-size: 14px;
    color: #7585a2;
    text-align: center;
    margin-top: 30px;
}

.footer-pay-logo {
    display: none !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    max-width: 350px;
}

.footer-pay-logo > img {
    width: 65px;
    filter: invert(52%) sepia(14%) saturate(681%) hue-rotate(180deg) brightness(97%) contrast(91%);
}

.footer-copy {
    font-weight: 300;
    font-size: 14px;
    color: #7585a2;
    text-align: center;
    margin-top: 19px;
}

.first-policy {
    background-image: url('../img/Background-policy.jpg');
    background-repeat: no-repeat;
    padding-bottom: 200px;
    background-size: cover;
    background-position: left;
    position: relative;
    padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.policy-content {
    margin-top: 100px;
}

.policy-content-title {
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
}

.policy-content-text {
    width: 950px;
    font-size: 25px;
    font-weight: 300;
    color: #fff;
    line-height: 2.8rem;
}

.policy-wrapper-links {
    margin-top: 58px;
}

.policy-link {
    display: block;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 5px;
}

.policy-link span {
    text-decoration: none;
    text-decoration: underline;
}

.main-content-policy {
    background-color: #0B1424;
    padding-top: 105px;
    padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.refund {
    padding-bottom: 100px;
}

.refund-title {
    font-size: 38px;
    font-weight: 400;
    color: #fff;
}

.updated {
    font-size: 16px;
    font-weight: 300;
    color: #7585a2;
    margin-bottom: 30px;
}

.refund-subtitle {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    padding: 25px 0;
}

.refund-text {
    font-size: 18px;
    font-weight: 300;
    color: #7585a2;
    margin-bottom: 20px;
    width: 1350px;
}

.privacy-policy {
    padding-bottom: 100px;

}

.terms {
    padding-bottom: 100px;
}

.contact-details {
    padding-bottom: 110px;
}

.contact-details-text {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin-top: 10px;
}

.contact-details-text:last-child {
    margin-bottom: 0;
}

.contact-details-text span {
    font-size: 18px;
    font-weight: 300;
    color: #7585a2;
}

.contact-details-text a {
    font-size: 18px;
    font-weight: 300;
    color: #7585a2;
}

.checkout {
    background-color: #1a2030;
    padding: 35px 60px 20px 60px;
    width: 1000px;
    min-height: auto;
    border-radius: 19px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.8);
    z-index: 2;
}

.checkout-title {
    font-size: 38px;
    font-weight: 500;
    color: #fff;
    padding-bottom: 30px;
    border-bottom: 1px solid #2b354d;
}

.checkout-wrapper-date {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: baseline;
}

.head-text {
    font-size: 55px;
    font-weight: 500;
    color: #fff;
}

.head-text span.bign {
    font-size: 64px;
    font-weight: 500;
    color: #fff;
}

.foot-text {
    font-size: 20px;
    font-weight: 300;
    color: #7585a2;
    margin-top: -15px;
}

.foot-text_n {
    margin-top: -18px;
}

.checkout-payment-card {
    background-color: #efc82f;
    border-radius: 6px;
    padding: 3px 10px 3px 3px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 433px;
    margin-bottom: 15px;
    transition: all 0.2 ease;
    cursor: pointer;
}

.checkout-payment-card:not(.checkout-payment-card_op):hover {
    background-color: #ebab2e;
}


.checkout-payment-card_op {
    background-color: #262f45;
    cursor: not-allowed;
}


.checkout-payment-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.checkout-wrapper-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    padding-bottom: 40px;
    border-bottom: 1px solid #2b354d;
}

.checkout-card-input {
    font-size: 21px;
    font-weight: 300;
    color: #fff;
}

.checkout-card-input span {
    margin-right: 15px;
}

.checkout-input {
    width: 55px;
    height: 41px;
    outline: none;
    background-color: #262f45;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
}

.checkout-input_long {
    width: 230px;
    height: 41px;
}

.checkout-input_long::placeholder {
    color: #3e4d72;
}

.checkout-mail {
    padding-top: 29px;
    padding-bottom: 32px;
}

.checkout-mail-text {
    font-size: 21px;
    text-align: center;
    font-weight: 300;
    color: #fff;
}

.checkout-mail-input {
    width: 525px;
    height: 50px;
    background-color: #262f45;
    padding: 15px 0px 15px 0px;
    border-radius: 6px;
    border: none;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    color: #fff;
    font-size: 21px;
    text-align: center;
}

.checkout-mail-input::placeholder {
    font-size: 21px;
    font-weight: 400;
    color: #34405e;
}

.checkout-mail-error {
    color: #f00;
    text-align: center;
    display: none
}

.checkout-footer {
    font-size: 16px;
    font-weight: 300;
    color: #7585a2;
    text-align: center;
    margin-top: 12px;
}

.checkout-footer a {
    text-decoration: underline;
    color: #7585a2;
    font-size: 16px;
    font-weight: 300;
}

#modal-wrap {
    width: 100%;
    height: 100%;
    display: none;
}

#modal-wrap.active {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: black;
    opacity: 0.5;
}


/* Adaptive */
.menu-btn {
	width: 44px;
	height: 44px;
	line-height: 44px;
	align-items: center;
	justify-content: center;
	position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9;
	display: none;
}
.menu-btn:before {
	display:none;
}
.menu-btn>span {
	width: 30px;
	height: 4px;
	background: #fff;
	position: relative;
}
.menu-btn>span:before, .menu-btn>span:after {
	content: '';
	width: 100%;
	position: absolute;
	left: 0;
	height: 4px;
	background: #fff;
	transition: all .3s;
}
.menu-btn>span:before {
	top: -9px;
}
.menu-btn>span:after {
	bottom: -9px;
}
.menu-check {
	display: none;
}
.menu-check:checked ~ .menu-btn>span {
	background: transparent;
}
.menu-check:checked ~ .menu-btn>span:before {
	transform: rotate(45deg);
	top:0;
}
.menu-check:checked ~ .menu-btn>span:after {
	transform: rotate(-45deg);
	bottom:0;
}
@media only screen and (max-width : 1800px) {
	.submenu {
		left: auto;
		right: 0;
	}
	.first {
		min-height: auto;
	}
	.second-left-wrapper {
		width: calc(100% - 465px);
	}
	.server-wrapper, .footer-line, .variant, .refund-text, .five-text, .five-card-text, .policy-content-text, .third-card-text, .checkout {
		max-width: 100%;
	}
	.second-right-wrapper {
		height: 100% !important;
	}
}
@media only screen and (max-width : 1400px) {
	.second {
		padding-top: 40px;
		margin-top: 40px;
		padding-bottom: 110px;
	}
	.server, .variant, .policy-content {
		margin-top: 40px;
	}
	.third, .first-policy, .refund, .privacy-policy, .terms, .contact-details {
		padding-bottom: 110px;
	}
	.fourd {
	    padding-bottom: 40px;
	}
	.third-wrapper {
		margin-top: 40px;
	}
	.fourd-wrapper-texts {
		padding-top: 40px;
	}
	.third-card {
		margin-right: 30px;
		width: calc(25% - 23px);
	}
	.third-card:nth-child(4n) {
		margin-right:0;
	}
	.first {
		height:auto;
		padding-bottom: 250px;
	}
	.first-content {
        margin-top: 200px;
	}
	.first-content-title, .policy-content-title {
		font-size: 60px;
		line-height: 1.2;
	}
	.first-content-text, .policy-content-text {
		font-size: 24px;
		margin-top: 30px;
		line-height: 2.4rem;
	}
    .first-content-trustpilot {
        margin-top: 40px;
    }
	.second-title, .third-title, .fourd-title, .five-title, .refund-title {
		font-size: 36px;
	}
	.second-text, .third-text, .fourd-text, .five-text {
		font-size: 21px;
	}
	.third-card_f img, .third-card_s img, .third-card_t img, .third-card_fo img {
	    width: 100px;
        height: 100px;
	}
	.fourd-text, .five-wrapper-texts {
		margin-bottom: 40px;
	}
	.fourd {
		background-size: 100% auto;
		background-position-y: bottom;
		padding-bottom: 110px;
	}
	.five {
		padding-top: 100px;
		padding-bottom: 80px;
	}
	.five-card {
		width: calc(33.3333% - 14px);
		margin-right: 20px;
	}
	.five-card:nth-child(3n) {
		margin-right:0;
	}
	.five-card-title {
		font-size: 48px;
	}
	.five-card-title span {
		font-size: 28px;
	}
	.main-content-policy {
		padding-top: 60px;
	}
	.variant-card {
		max-width: calc(50% - 22px);
	}
	.variant-price, .variant-out-of-stock {
		margin-left: 25px;
	}
}
@media only screen and (max-width : 1000px) {
    .first, .second, .third, .fourd, .five, .first-policy, .main-content-policy, .footer {
	    padding-left: 1rem;
	    padding-right: 1rem;
	}
	.first {
		padding-bottom:180px;
	}
	.first-content {
        margin-top: 110px;
	}
	.first-content-title, .policy-content-title {
		font-size: 58px;
	}
	.first-content-text, .policy-content-text {
		font-size: 22px;
		margin-top: 20px;
        line-height: 2rem;
	}
	.first-content-trustpilot {
        margin-top: 30px;
    }
	.first-content-stars {
		margin-right:30px;
	}
	.first-content-rating {
		padding: 0 30px;
	}
	.first-content-reviews {
		margin-left: 30px;
	}
	.second-wrapper {
		flex-wrap: wrap;
	}
	.second-left-wrapper, .second-right-wrapper {
		width: 100%;
	}
	.server-card {
		margin-right: 15px;
		margin-bottom: 15px;
		width: calc(25% - 11.3px);
		height: auto;
		min-height: 90px;
		padding: 18px;
	}
	.server-card:nth-child(4n) {
		margin-right: 0;
	}
	.second-right-wrapper {
		margin-top: 40px;
		background-position-x: right;
	}
	.variant {
		width:100%;
	}
	.variant-card {
		width: calc(33.3333% - 10px);
		max-width: calc(33.3333% - 10px);
		margin-top: 15px;
		margin-right: 15px;
	}
	.variant-card:nth-child(3n) {
		margin-right: 0;
	}
	.result-wrapper-text, .garanty-wrapper, .second-right-wrapper-text {
		margin-left: 40px;
		margin-right: 40px;
		width: calc(100% - 80px);
	}
	.result-text {
		max-width:230px;
	}
	.garanty-card {
		margin-right: 25px;
		width: calc(33.3333% - 13.4px);
	}
	.garanty-card:nth-child(3n) {
		margin-right: 0;
	}
	.garanty-text {
		width: 100%;
	}
	.third-wrapper {
		flex-wrap: wrap;
	}
	.third-card_f img, .third-card_s img, .third-card_t img, .third-card_fo img {
	    margin-top: 40px;
        width: 90px;
        height: 90px;
    }
	.third-card {
		margin-right: 20px;
		width: calc(50% - 10px);
	}
	.third-card:nth-child(2n) {
		margin-right: 0;
	}
	.third-card-title {
		font-size: 21px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.third-text {
        margin-bottom: -40px;
    }
	.fourd {
	    background-image: none;
	}

	.fourd-wrapper-texts {
		padding-top: 0;
	}
	.five {
	    padding-top: 0px;
	}
	.five-card-title {
		font-size: 36px;
	}
	.five-card-title span {
		font-size: 24px;
	}
	.five-text {
		line-height: 2;
	}
	.checkout {
		padding: 15px 20px;
	}
	.checkout-title {
		font-size: 24px;
		padding-bottom:20px;
	}
	.head-text {
		font-size: 28px;
	}
	.head-text span.bign {
		font-size: 32px;
	}
	.foot-text, .checkout-mail-text {
		font-size: 18px;
	}
	.checkout-wrapper-inputs {
		margin-top:20px;
		padding-bottom:20px;
	}
	.checkout-card-input {
		font-size: 18px;
	}
	.checkout-mail {
		padding: 20px 0;
	}
	.checkout-payment-wrapper {
		justify-content: center;
	}
}
@media only screen and (max-width : 767px) {
    .first {
		padding-bottom: 150px;
	}
    .first, .second, .third, .fourd, .five, .first-policy, .main-content-policy, .footer {
	    padding-left: 0;
	    padding-right: 0;
	}
	.menu-btn {
		display: flex;
	}
	.menu {
		display: block;
		position: absolute;
		top:-100%;
		left:0;
		z-index:8;
		width:100%;
		background:rgb(11 20 36);
		transition: all .3s;
	}
	.menu-check:checked ~ .menu {
		top:0;
	}
	.menu-wrapper {
		display:block;
	}
	.submenu {
		right:auto;
		left:0;
	}
	.first-content {
		margin-top:0;
		padding-top:170px;
	}
	.first-content-title, .policy-content-title {
		font-size: 45px;
	}
	.first-content-text, .policy-content-text {
		font-size: 18px;
		margin-top:18px;
		line-height:1.6;
	}
	.first-content-trustpilot {
        margin-top: 20px;
    }
	.first-content-stars {
		margin-right: 20px;
		max-width: 90px;
	}
	.first-content-stars img, .first-content-stars img {
		max-width:100%;
		height:auto;
	}
	.first-content-stars img {
		margin-top:10px !important;
	}
	.first-content-rating {
		padding: 0 20px;
	}
	.rating-span, .reviews-span {
		font-size: 18px;
	}
	.rating-text, .reviews-text {
		font-size: 14px;
	}
	.first-content-reviews {
		margin-left: 20px;
	}
	.second-title, .third-title, .fourd-title, .five-title, .refund-title {
		font-size: 24px;
	}
	.second-text, .third-text, .fourd-text, .five-text {
		font-size: 16px;
	}
	.server, .variant, .policy-content {
		margin-top:20px;
	}
	.card-country, .variant-name {
	    font-size: 13px;
	}
	.server-card {
		width: calc(50% - 7.5px);
	}
	.server-card:nth-child(4n) {
		margin-right:15px;
	}
	.server-card:nth-child(2n) {
		margin-right:0;
	}
	.variant-card {
		width: calc(50% - 7.5px);
		max-width: calc(50% - 7.5px);
	}
	.variant-card:nth-child(3n) {
		margin-right:15px;
	}
	.variant-card:nth-child(2n) {
		margin-right:0;
	}
	.result-wrapper {
		padding-top:20px;
	}
	.result-span {
		font-size: 28px;
	}
	.result-text {
		max-width:190px;
	}
	.result-subtext {
		font-size: 16px;
		margin-top: 2px;
		margin-bottom:30px;
	}
		.result-text, .second-right-wrapper-text, .third-card-text, .item__desc, .five-card-text {
		line-height: 1.5rem;
	}
	.result-text, .second-right-wrapper-text, label, .five-card-text, .policy-link, .refund-text {
		font-size: 16px;
	}
	.blueessence-logo {
		width: 230px;
		height: 230px;
	}
	.garanty-text {
		font-size: 14px;
	}
	.btn {
		padding: 16px 20px;
	}
	.second {
	    margin-top: 30px;
	    padding-top: 30px;
		padding-bottom: 80px;
	}
	.checkout {
		transform: translate(-50%, -50%) scale(.95);
		min-height: auto;
		max-height: 100%;
		overflow: auto;
	}
	.checkout-mail-input {
		max-width: 100%;
	}
	.third-card-title {
		font-size: 18px;
	}
	.third-card-text {
		font-size: 16px;
	}
	.third, .fourd, .first-policy, .refund, .privacy-policy, .terms, .contact-details {
		padding-bottom: 80px;
	}
	.third-card_f img, .third-card_s img, .third-card_t img, .third-card_fo img {
	    width: 80px;
        height: 80px;
	}
	.item__name {
		padding: 20px 20px 15px 50px;
		font-size:16px;
	}
	.item__name:before {
		left:15px;
		top:30px;
	}
	.item__name:after {
		left:25px;
		top:21px;
	}
	.item__desc {
		padding:0 20px 15px 40px;
		font-size:16px;
	}
	.five-wrapper {
		display:block;
	}
	.five {
	    padding-bottom: 60px;
	}
	.five-card-text {
       line-height: 1.5rem;
    }
	.five-card {
		margin-right:0;
		margin-bottom:20px;
		width:100%;
	}
	.footer-line {
		height:5px;
	}
	.message-cookies{
		max-width:100%;
		bottom: 20px;
		margin-left: 2rem;
		z-index:1;
	}
	.message-cookies-text {
		font-size:14px;
	}
	.policy-content {
		margin-top:0;
		padding-top:60px;
	}
	.policy-content-title {
		margin-bottom:20px;
	}
	.policy-wrapper-links {
		margin-top:20px;
	}
	.main-content-policy {
		padding-top:40px;
	}
	.refund-subtitle {
		padding:0;
	}
	.contact-details-text {
		font-size: 18px;
	}
	.submenu {
		padding: 15px 20px;
	}
	.submenu-item {
		margin-bottom:15px;
	}
	.checkout-payment-card {
		max-width:100%;
	}
	.message-cookies {
		display: none;
	}
}
@media only screen and (max-width : 479px) {
    .first {
		padding-bottom: 120px;
	}
	.first-content {
	    padding-top: 130px;
	}
	.first-content-title, .policy-content-title {
		font-size:35px;
	}
	.first-content-text, .policy-content-text {
		font-size: 16px;
		margin-top:16px;
		line-height:1.4;
	}
	.first-content-trustpilot {
        margin-top: 18px;
    }
	.rating-span, .reviews-span {
		font-size:16px;
	}
	.first-content-stars {
		max-width: 80px;
	}
	.first-content-rating {
		padding: 0 15px;
	}
	.first-content-reviews {
		margin-left: 15px;
	}
	.variant-card, .third-card {
		margin-right:0;
		width:100%;
		max-width:100%;
	}
	.variant-card:nth-child(3n) {
		margin-right:0;
	}
	.garanty-card {
		width: calc(33.3333% - 10px);
	}
	.garanty-card img {
		max-width:80%;
		max-height:50px;
	}
	.check-box {
		margin-top:30px;
	}
	label {
		font-size:14px;
	}
	.check-box label {
		font-size:14px;
		margin-left:40px;
	}
	.checkout-title{
		font-size:17px;
	}
	.head-text {
		font-size:18px;
	}
	.foot-text, .checkout-mail-text {
		font-size:12px;
	}
	.foot-text{
		margin-top:0;
	}
	.foot-text_n {
		margin-top:-6px;
	}
	.checkout-card-input, .checkout-footer, .policy-link, .third-card-text, .item__desc {
		font-size:14px;
	}
	.checkout-payment-card img {
		width: auto;
		height: auto;
		max-width: 50px;
	}
	.footer-pay-logo > img {
		max-width:20%;
	}
	.third-card-text {
		width:auto;
		margin-right:0;
	}
	.third-card_f img, .third-card_s img, .third-card_t img, .third-card_fo img {
        width: 60px;
        height: 60px;
    }
}
